/* heebo-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/heebo-v26-latin-regular.woff2") format("woff2");
}
/* heebo-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/heebo-v26-latin-500.woff2") format("woff2");
}
/* heebo-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/heebo-v26-latin-700.woff2") format("woff2");
}
/* heebo-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/heebo-v26-latin-800.woff2") format("woff2");
}
